# Enable error handling
ErrorDocument 404 /404.html

# Redirect all non-existent files to the main 404 page
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sites/
    
    # If the requested file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect to the main 404 page
    RewriteRule ^(.*)$ /404.html [L,R=302]
</IfModule> 